@import url('https://cdn.jsdelivr.net/npm/swagger-ui-dist@5/swagger-ui.css');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

body {
    background-color: #191B1F !important;
    /* Uniswap BG */
    color: #ffffff !important;
    font-family: 'Outfit', sans-serif !important;
    margin: 0;
}

.swagger-ui .info .title,
.swagger-ui .info h1,
.swagger-ui .info h2,
.swagger-ui .info h3,
.swagger-ui .info h4,
.swagger-ui .info h5 {
    color: #ffffff !important;
    font-family: 'Outfit', sans-serif !important;
}

.swagger-ui .info p,
.swagger-ui .info li,
.swagger-ui .info table {
    color: #9ca3af !important;
}

.swagger-ui a.nostyle {
    color: #FF007A !important;
}

.swagger-ui .scheme-container {
    background-color: #212429 !important;
    /* Uniswap Card */
    box-shadow: none !important;
    border-bottom: 1px solid #40444F !important;
}

.swagger-ui .opblock .opblock-summary-operation-id,
.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock .opblock-summary-path__deprecated {
    color: #ffffff !important;
    text-decoration: none !important;
}

.swagger-ui .opblock .opblock-summary-description {
    color: #9ca3af !important;
}

.swagger-ui .btn {
    box-shadow: none !important;
    border-radius: 8px !important;
}

.swagger-ui .btn.execute {
    background-color: #FF007A !important;
    border-color: #FF007A !important;
    color: white !important;
}

.swagger-ui .btn.authorize {
    border-color: #FF007A !important;
    color: #FF007A !important;
}

.swagger-ui .btn.authorize svg {
    fill: #FF007A !important;
}

.swagger-ui .responses-inner {
    background-color: #212429 !important;
}

.swagger-ui table thead tr td,
.swagger-ui table thead tr th {
    color: #ffffff !important;
    border-bottom: 1px solid #40444F !important;
}

.swagger-ui .response-col_status {
    color: #9ca3af !important;
}

.swagger-ui .opblock-body pre.microlight {
    background: #0f1115 !important;
    border-radius: 8px !important;
}

.swagger-ui .model {
    color: #ffffff !important;
}

.swagger-ui section.models {
    border: 1px solid #40444F !important;
    border-radius: 12px;
}

.swagger-ui section.models h4 {
    color: #ffffff !important;
}

.swagger-ui .model-title {
    color: #ffffff !important;
}

.swagger-ui input {
    background-color: #2C2F36 !important;
    color: white !important;
    border: 1px solid #40444F !important;
}

.swagger-ui select {
    background-color: #2C2F36 !important;
    color: white !important;
    border: 1px solid #40444F !important;
}

.swagger-ui .dialog-ux .modal-ux {
    background-color: #212429 !important;
    border: 1px solid #40444F !important;
    color: white !important;
}

.swagger-ui .dialog-ux .modal-ux-header h3 {
    color: white !important;
}

.swagger-ui .dialog-ux .modal-ux-content h4 {
    color: white !important;
}